@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
*{
  font-family:Sansita;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family:Sansita;
  color: #fff ;
  background-color: #232324;
}
.btn1{
  background-color: #fff;
  padding: 5px 15px ;
  font-weight: 600;
  border: 1px solid #0052FF;
  color: #0052FF;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.btn1:hover{
  background-color: #0052FF;
  color: #fff;
}
.color{
  color: #0052FF;
}
.link{
  text-decoration: none;
}
li{
  list-style-type: none;
}
a, .link{
  text-decoration: none;
}
h2,p{
  margin: 0;
  padding: 0;
}
.link, a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}